<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Introduction to Python: Part One

_Authors: Kiefer Katovich (San Francisco), Dave Yerrington (San Francisco), Joseph Nelson (Washington, D.C.), Sam Stack (Washington, D.C.)_

---


### Learning Objectives

#### Part 1: Python Data Types
**After this lesson, you will be able to:**
- Discuss Python as a programming language.
- Define integers, strings, tuples, lists, and dictionaries.
- Demonstrate arithmetic operations and string operations.
- Demonstrate variable assignment.

### Lesson Guide

#### [Part 1: Python Data Types](#why_py)
- [Why Python?](#why_py)
- [Introduction to Data Types](#intro)
- [Jupyter Notebook](#jupyter_nb)
- [Python Variables](#variables)
- [Operators](#operators)
- [Integers and Floats](#numbers)
- [Strings](#strings)
	-[String Indexing](#slicing)
- [Printing Strings](#print)
- [Lists](#lists)
- [Tuples](#tuples)
- [Dictionaries](#dictionary)
- [Importing Packages and Documentation](#import)
- [Practice With a Partner](#ind-practice)

----

<a id='why_py'></a>

## Why Python?

Python was created by Guido van Rossum and released back in 1991. Since then, Python has greatly grown as a high-level, general-purpose programming language with a huge open-source community supporting it. The language was developed to emphasize readability of code (specifically, white-space use and syntax).

---

## Why Use Python for Data Science?

##### General Purpose, Open Source, and Readability

These are some of the more prominent reasons Python has been so widely adopted for data science.

**General purpose:** Python was not intended to just be used for software or website development. Instead, it comes with the basic building blocks you need to develop anything you want with it.

**Open source:** Going back to the "basic building blocks" point — a large open-source community has already created hundreds of libraries containing combinations of the foundation blocks to create more specific tool sets. Here are a few examples:
- Requests: Interacting with websites.
- Django: Python web framework.
- Pandas: Data scientists' best friend.
- PyQt/Tkinter/Pyglet: GUI application building.
- TensorFlow: Google's machine learning library.


**Readability:** They're called programming languages because learning them is similar to learning a written language, but instead of learning how to communicate with a person, you're learning how to communicate with a computer. When a foreign language is similar to your native language, it's much easier to pick up. The same can be said for Python, whose general flow makes it a lot easier for humans to read and interpret code.

## Pseudocode
Writing out your program in simple, step-by-step instructions using plain English.

As a beginner, this is an important task, until you can visualize the coding internally.


```
First, open the fridge.
Then, take out the cheese.
Then, close the fridge.
```

---

<a id='intro'></a>
## Introduction: Python Data Types

There are several _standard_ data types within Python, the six most common being:

**Integers:** Whole numbers from negative infinity to infinity, such as 1, 0, -5, etc.

**Floats:** Short for "floating point number," usually used with decimals such as 2.8 or 3.14159.

**Strings:** A set of letters, numbers, or other characters, e.g., "The fox is quick."

**Tuples:** An ordered sequence with a fixed number of elements, e.g., in x = (1, 2, 3), the parentheses makes it a tuple. x = ("Kirk", "Picard", "Spock")

**Lists:** An ordered sequence without a fixed number of elements, e.g., x = [1, 2, 3]. Note the square brackets. x = ["Lord", "of", "the", "Rings"]

**Dictionaries**: An unordered collection of key-value pairs, e.g., x = {'Mark': 'Twain', 'Apples': 5}. To retrieve each value (the part after each colon), use its key (the part before each colon). For example, x['Apples'] retrieves the value 5.

Throughout this lesson, we will review each data type more in depth and discuss common ways of interacting with each of them.

[Python's basic data types](https://en.wikiversity.org/wiki/Python/Basic_data_types).

**In your own words, what is the difference between a list and a dictionary? Can you think of any real-life examples of lists or dictionaries?**

---

<a id='jupyter_nb'></a>
## Jupyter Notebook

Before we get started, let's go over interacting with iPython in the Jupyter Notebook.

Code cells are run by pressing `shift + enter` or using the Play button in the toolbar.

In [1]:
# This is a cell.

In [2]:
# Assigning a variable:
v = 1

In [3]:
# Assign another:
dsi_ga = 'DSI is awesome!'

In [4]:
# Run this!
dsi_ga

'DSI is awesome!'

In [5]:
# Print this:
print(v)

1

You can also perform basic math using integers in the iPython notebook.

In [6]:
45 - 19

26

<a id='variables'></a>
## Variables

- Names that have been assigned to specific values or data. 
- Boxes that can hold all kinds of information for you
- Makes it easier to store and re-use values.

These names can be almost anything you want, but there are some restrictions and best practices.

**Restrictions**
- Variable names cannot be just a number (i.e., `2`, `0.01`, `10000`).
- Variables cannot be assigned the same name as a default or imported function (i.e., '`type`', '`print`', '`for`').
- Variable names cannot contain spaces.

**Best Practices**
1. Make sure to use meaningful names.

`delicious = 3` doesn't mean anything.

`cupcakes_ive_eaten = 3` does.

2. Beware of case sensitivity.  Best practice is to use lowercase.

`CUPCAKES_IVE_EATEN` and `cupcakes_ive_eaten` are not the same!

3. Don’t use any spaces or punctuation.

`cupcakes i've eaten` is invalid syntax.

Instead, use snake_case: `lowercase_letters_with_underscores`

In [7]:
# Assigning a float:
x = 1.0
type(x)

float

In [8]:
# Assigning an int:
y = 1
type(y)
print(y)

1

In [9]:
# Assigning a string:
z = '1'
type(z)

str

In [10]:
# Assigning a placeholder (or NoneType)
foo = None
type(foo)

NoneType

In [11]:
# Variables can be reassigned
y = 'hello'
print(y)

hello

**Remember that, when we're assigning variables, we are not stating that "x equals 1," we are stating that "x has been assigned the value of 1."**

<a id='operators'></a>
## Operators

"Operators are the constructs (that) can manipulate the value of operands." — [Tutorials Point: Python](https://www.tutorialspoint.com/python/python_basic_operators.htm)

Operators can be used in a mathematical sense to calculate (or create) the sum, difference, product, or quotient of values or variables.

In [12]:
# Addition:
print(1 + 2)
# Subtraction:
print(1 - 2)
# Multiplication:
print(1 * 2)
# Division:
print(1 / 2)

3
-1
2
0.5

There is also "`//`" division, whose output will be the rounded-down whole number. (In mathematics, this is called the quotient.)

In [13]:
# Division of float numbers:
print(3.0 // 2)
print(-3.0 // 2)

1.0
-2.0

The `=` sign in Python is known as the assignment operator. It is the means by which we can assign values to variables.

In [14]:
number = 2.0
type(number)

float

In [15]:
# Exponent power operator:
2 ** 2

4

In [16]:
# Modulo can be used to get the remainder:
5%2

1

In [17]:
cupcakes_ive_eaten = 6
cupcakes_youve_eaten = 3

print(cupcakes_ive_eaten + cupcakes_youve_eaten)

9

In [18]:
cupcakes_weve_eaten = cupcakes_ive_eaten + cupcakes_youve_eaten

In [19]:
print(cupcakes_weve_eaten)

9

You can use modulus to determine if a number is even or odd:

In [20]:
print(4 % 2)
print(5 % 2)

0
1

<img src="./assets/math-operations.png" />

### Exercises: 


#### 1. Variable Hijinx:

In [21]:
#1. Declare two variables `num1` and `num2` and assign them to any numbers you'd like.

#2. Set `num1` to the result of subtracting `num1` from the `num2`.

#3. Create a new variable `num3` that will help us tell if `num2` is even or odd.

#4. Using shorthand, add 5 to `num1`.

#5. Print out `num1`, `num2`, and `num3`

#### 2. Game Show Score:
Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

In [22]:
latest_score = 100
print(latest_score)

#1. Add 50



#2. Subtract 90



#3. Multiply 10



#4. Divide 150



#5. Modulus 3

100

### Booleans and Boolean Evaluation Operators 
 Booleans exist as either true or false and are generally used as a means of evaluation.
 
 #### Using Booleans

Booleans are frequently used to filter data or conditions. Sometimes, we may want all countries with populations greater than 4,000,000 or all people named Bob. Both of these result in a `True` or `False` condition that split our data into the groups we want.

In Python, there are several built-in commands for deciding how to filter results:

- `and`: Are both A and B true?
- `not`: Is A the same as B?
- `or`: Is A or B true?

In [23]:
True and False

False

In [24]:
not False

True

In [25]:
True or False

True

**Comparison Operators**

- Less than: **`<`**
- Greater than: **`>`**
- Less than or equal to: **`<=`**
- Greater than or equal to: **`>=`**
- Equals: **`==`**
- Does not equal: **`!=`**

In [26]:
y=2
print(y)

2

In [27]:
x=3
print(x)

3

In [28]:
x=y
print(x)

2

In [29]:
2 > 1, 2 < 1, 2 > 2, 2 < 2, 2 >= 2, 2 <= 2

(True, False, False, False, True, True)

In [30]:
# equality
[1,2] == [1,2], [1,2] != [2,1]

(True, True)

### Exercise:
#### 3. Boolean Math
Add the below sets of variables together.

#### A)
a = True
b = True



#### B)
c = False
d = False



#### C)
e = True
f = False

<a id='numbers'></a>
## Numbers in Python

Numbers in Python can be stored four ways. Two — floats and integers — are very common, and the other two — [long](https://docs.python.org/2/library/functions.html#long) and [complex](https://docs.python.org/2/library/functions.html#complex) — are relatively uncommon. Today, we'll review integers and floats, as there is a good chance these will be the only ones you'll ever use.

Integers are whole numbers. 
- 1
- 200
- 100009 

Floats are numbers with decimals. The name "float" comes from "floating point," as the decimal can _float_ the length of the number.
- 1.11
- 26.006
- 3.0

In [31]:
x_int = 1
x_float =1.6

type(x_int), type(x_float)

(int, float)

If an integer or float is compatible, it can be converted to the other type.

In [32]:
int(x_float)

1

In [33]:
type(int(x_float))

int

<a id='strings'></a>

## Strings

Strings are essentially any character combination in between quotes. They are most often used as a way of storing text.

The can be written in a variety of ways:

1. Single quotes: `'allows embedded "double" quotes'`
2. Double quotes: `"allows embedded 'single' quotes"`

In [34]:
s = "Hello world"
type(s)

str

In [35]:
q = 'Hello world'
s==q

True

In [36]:
box_contents = "cupcakes" # This is a string
print(box_contents) # It's a normal variable - we can print it.
best_snack = "Frosted Cupcakes" # This is a string.
cupcakes_ive_eaten = 5 # No quotes - this is a number.
cupcakes_ive_eaten_as_string = "5" # Because this is in quotes, this is a string.

cupcakes

### Group Practice:
We'll define a variable called `name` with the value `Marty`.

We'll define a variable called `car` with the value `Delorean`.

We'll define a variable called `speed` with the value `"88"`.

We'll print out these variables.

We'll add `4` to `speed` — what happens?

Strings have a lot of associated methods and attributes that allow us to better understand and manipulate them.

In [37]:
# Length of the string:
print(s)
len(s)

Hello world

11

In [38]:
# Replace an element of a string:
s2 = s.replace("world", "test")
print(s2)

Hello test

In [39]:
help(s.endswith)

Help on built-in function endswith:

endswith(...) method of builtins.str instance
    S.endswith(suffix[, start[, end]]) -> bool

    Return True if S ends with the specified suffix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    suffix can also be a tuple of strings to try.

<a id='slicing'></a>


**String Indexing**  

We can extract characters at specific index locations in a string using indexing.

In [40]:
# Indexing the first (index 0) character in the string:
print(s)
print(s[-1])
print(s[10])
print(s[len(s)-1])
print(s[len(s)-2])

Hello world
d
d
d
l

The number you enter after the variable name in brackets (the `[0]`) is called the **index** (its plural is **indices**).

_Counting in Python and many other programming languages begins at zero, as opposed to one. This is called **zero-based indexing**._

In [41]:
# This is called *splicing*. We start at the left index 
#   and go up to but don't include the right index:

# Objects at indexes 0, 1, and 2
s[0:3]

#Hello worl
s[0:10]
s[0:(len(s)-1)]

'Hello worl'

Most ranges or functions with ranges have upper ends that are not inclusive. So, a range of `[0:5]` starts at `0` and stops before `5`.

In [42]:
# From index 6 up to the end of the string:
s[6:]

'world'

In [43]:
# No start or end specified:
s[:]

'Hello world'

In [44]:
# Can we index from the right side?
s[-1]

'd'

In addition to specifying a range, you can add a step size or character skip rate.

In [45]:
# Define a step size of 2, i.e., every other character:
s[6:10:4]

'w'

#### Concatenating
To add two strings together, type the first string, an addition sign, and then the second string.

In [46]:
print('Hello' + 'world')

Helloworld

In [47]:
print('Hello','world','my')

Hello world my

In [48]:
var1 = 'Hello' + 'world'
print(var1)

Helloworld

In [49]:
var2 = 'Hello','world'
print(var2)
type(var2)

('Hello', 'world')

tuple

You can do the same with variables that refer to strings.

In the iPython notebook, type:

In [50]:
x = 'Hello'
y = 'world'

x + y

'Helloworld'

In [51]:
# Conversion from int to str is required!

dice_roll = 3

print('You rolled a ' + str(dice_roll) + '.')

You rolled a 3.

There is also "C-style" formatting, which allows us to create a string with placeholder values that we can populate.

In [52]:
# C-style formatting:
print("value = %f" % 1)
# "%f" is the placeholder for a float.

value = 1.000000

In [53]:
# An alternative, more intuitive way of formatting a string:
s3 = 'value1 = {0}, value2 = {1}, barney = {2} '.format(3.1415, 1.5, 'test')
print(s3)

value1 = 3.1415, value2 = 1.5, barney = test

Multiplying is very easy and straightforward.

In [54]:
x = 'Hello '
x * 5

'Hello Hello Hello Hello Hello '

### Exercises: 

#### 4. String Surprise
Create your own string of at least 12 characters.

In [55]:
#1. Test to make sure that it is at least 12 characters long.


#2. Print all the characters between the 5th and 10th characters.


#3. Use concatenation to add another string to it.

#### 5. Back to the Future
Ensure that the following formula reads `Marty is driving his Delorean 88mph.` using the following variables:

In [56]:
name = "Marty"
car = "Delorean"
speed = "88"

#### 6. Addition Alley
Add the below sets of variables together without causing any Type Errors.

In [57]:
# A)
a = 0
b = 2

print(a + b) # 2


# B)
c = '0'
d = '2'

print(c + d) # '2'


# C)
e = '0'
f = 2
print(int(e) + f) # 2

2
02
2

<a id='lists'></a>


## Lists

Lists are a means of storing ordered data.

While variables hold one item, lists hold multiple items.

Lists can be composed of ints, floats, strings, or other lists, as well as other data types we haven't covered yet.

In [58]:
l = [1, 2, 3, 4]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

In [59]:
# The contents of a variable can be reassigned to another variable:
a = l

In [60]:
print(a)

[1, 2, 3, 4]

In [61]:
# List of strings:
names = ['Joseph', 'Bob', 'Rick']
print(names)

['Joseph', 'Bob', 'Rick']

In [62]:
# Combination of numbers and strings
my_list = ["red", 7, "yellow", 1, 4]

#### Accessing Elements of a list
**List index** refers to the location of an element in the list.

**List indexes start counting at 0.**

<img src="./assets/list-index.png" />

In [63]:
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha"]
print(my_class[0]) # Prints "Brandi"
print(my_class[1]) # Prints "Zoe"
print(my_class[4]) # Prints "Dasha"

Brandi
Zoe
Dasha

### Group Practice:
1. Create a list with the names "Holly", "Juan", and "Ming".

2. Print the third name.

3. Create a list with the numbers 2, 4, 6, and 8.

4. Print the first number.

#### List Operations

`len()` Tells you how long a list is.

In [64]:
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha"]

num_students = len(my_class)

print("There are", num_students, "students in the class")

There are 5 students in the class

Lists also have several methods that allow us to alter them, such as the `.append()` method, which allows us to add another element to the end of a list.

In [65]:
my_class.append('John')

In [66]:
print(my_class)

['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha', 'John']

In [67]:
# Lists can be indexed in the same way as strings:
print(l[1:3])
print(l[::2])   # Increments the index by 2 each time (skips alternate elements).

[2, 3]
[1, 3]

In [68]:
# We can slice a value in a list as well:
#my_class[1][1:]
my_class[1][1]

'o'

Note that we always read indexing from left to right. In the example above, the interpreter looks up `names` and gets the first element, which is the string `"Bob"`. Then, the slice (`[1:]`) adds the first index of that string to the end of the original string, evaluating to `"ob"`.

Interestingly, the following works in the same way. Instead of having to look up the value of `names`, the list is directly specified (just read the line from left to right!).

In [69]:
['Joseph', 'Bob', 'Rick', 'John'][1][1:]

'ob'

In [70]:
# Lists don't have to be the same type:
l = [1, 'a', 1.0, 1-1j]
print(l)

[1, 'a', 1.0, (1-1j)]

In [71]:
# We can create a list of values in a range using the "range" function:
start = 10
stop = 30
step = 2
range(start, stop, step)

# range() produces a "generator," which is beyond the scope of this introduction!
# It is often convenient to have the generator 
#    generate all of its values by converting it to a list:
list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Here's how we create a list from scratch:

In [72]:
# Create a new empty list:
l = []

# Add an element using append():
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

In [73]:
# Reassign a range of values with another list:
l[1:3] = ["b", "c"]
print(l)

['A', 'b', 'c']

Use the `.insert()` method to add values at specific indices.

In [74]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'b', 'c']

If a value already exists at an index where we're trying to insert the new value, the original value gets bumped to the next index.

---
The `.remove()` method can be used to remove specific values if they appear in a list.

In [75]:
l.remove("A")
print(l)

['i', 'n', 's', 'e', 'r', 't', 'b', 'c']

In [76]:
help(l.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

On the other hand, the `del()` function can be used with a list and index to delete values.

In [77]:

del l[7]
del l[6]

print(l)

['i', 'n', 's', 'e', 'r', 't']

`.pop()` removes an item from the end of a list

In [78]:
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha", "Sonyl"]

student_that_left = my_class.pop()

print("The student", student_that_left, "has left the class.")

print(my_class)

The student Sonyl has left the class.
['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha']

`.pop(index)` removes an item from the list using an index.

In [79]:
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha", "Sonyl"]

student_that_left = my_class.pop(2) # Remember to count from 0!

print("The student", student_that_left, "has left the class.")

print(my_class)

The student Steve has left the class.
['Brandi', 'Zoe', 'Aleksander', 'Dasha', 'Sonyl']

`sum()` adds elements on a list with only numbers

In [80]:
team_batting_avgs = [.328, .299, .208, .301, .275, .226, .253, .232, .287]

sum_avgs = sum(team_batting_avgs)

print("The total of all the batting averages is", sum_avgs)

The total of all the batting averages is 2.4090000000000003

`.min()` or `.max()` finds the lowest or highest item in a list of numbers.

In [186]:
team_batting_avgs = [.328, .299, .208, .301, .275, .226, .253, .232, .287]

print("The highest batting average is", max(team_batting_avgs))


print("The lowest batting average is", min(team_batting_avgs))

The highest batting average is 0.328
The lowest batting average is 0.208

### Exercises:

#### 7. List Land
Create a list of 5 elements and do the following:

In [196]:

#1. Print the last three elements.


#2. Insert two new elements at index 2 and append one element to the end.


#3. Remove one element of your choice.


#4. Print every other element in your list.

['rattlesnake', 'orangutan', 'penguin']
['elephant', 'tiger', 'cat', 'dog', 'rattlesnake', 'orangutan', 'penguin', 'mouse']
['elephant', 'cat', 'orangutan', 'mouse']

#### 8. Pop Drop It List It

In [204]:
# 1. Declare a list with the names of your classmates


# 2. Print out the length of that list


# 3. Print the 3rd name on the list


# 4. Delete the first name on the list


# 5. Re-add the name you deleted to the end of the list

4
Bruce
The person that left is Tony.
['Robin', 'Bruce', 'Wayne', 'Tony']

#### 9. Number Trouble

In [206]:
#1. Save a list with the numbers 2, 4, 6, and 8 into a variable called numbers.


#2. Print the max of numbers.


#3. Pop the last element in numbers off; re-insert it at index 2.


#4. Pop the second number in numbers off.


#5. Append 3 to numbers.

#6. Print out the average number (divide the sum of numbers by the length).


#7. Print numbers.

8
[2, 4, 8, 6]
4.75
[2, 8, 6, 3]

<a id='tuples'></a>


## Tuples

Tuples are similar to lists in that they store a sequence of various separate values. However, tuples are not mutable in that, once they are created, their values cannot be changed.

In [4]:
#immutable
point_list=[10,20,30]
point = (10, 20)
print(point)
print(type(point))
print(point_list)
print(type(point_list))

(10, 20)
<class 'tuple'>
[10, 20, 30]
<class 'list'>

In [3]:
# They can be sliced just like lists and strings:
point[0]

10

Unpacking a variable is a common practice when iterating through Python data types. Unpacking essentially allows us to simultaneously set new variables to items in a list, tuple, or dictionary.

In [5]:
# Unpacking:
x, y = point

print("x = {}".format(x))
print("y = {}".format(y))

x = 10
y = 20

<a id='dictionary'></a>


## Dictionaries

Dictionaries are a non-ordered Python data type. Instead of using an ordered index to access data stored in a dictionary, we use a system of key-value pairs.

- A key is similar to a variable name. 
- A value is similar to the value assigned to the variable.

Curly braces ({ }) enclose dictionaries. Note: You can also use curly braces to construct a set. The first input in a dictionary pair is the "key." The second input in a dictionary pair is the "value." The general format looks like this:


<img src="./assets/dictionaries.png" />

In [6]:
params = {"key1" : 1.0,
          "key2" : 2.0,
          "key3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'key1': 1.0, 'key2': 2.0, 'key3': 3.0}

The keys stay the same, but the values are changeable. You can also only have one occurrence of a key in a dictionary, but you can have all of the values be the same.

In [8]:
# Value for parameter2 in the params dictionary:
params["key2"]

2.0

In [9]:
# Adding a new dictionary entry:
params["key4"] = "D"

In [12]:
# Print the entirety of the dictionary:
print(params)

{'key1': 'A', 'key2': 'B', 'key3': 3.0, 'key4': 'D'}

In [11]:
# Reassigning the value of a key-value pair in the dictionary:
params["key1"] = "A"
params["key2"] = "B"

In [13]:
print("hamburger = " + str(params["key1"]))
print("Key 1 = " + str(params["key2"]))
print("Key 2 = " + str(params["key3"]))
print("Key 3 = " + str(params["key4"]))

hamburger = A
Key 1 = B
Key 2 = 3.0
Key 3 = D

In [18]:
# Dictionaries also have methods.

# Convert a dictionary to a list of tuples (key-value pairs).
# This is later used to conveniently loop through a dictionary:
list(params.items())

[('key1', 'A'), ('key2', 'B'), ('key3', 3.0), ('key4', 'D')]

### Exercise:

#### 10. Dictionary Double Trouble

In [20]:
#1. Replicate the dictionary in the image as shown with Puppy, Pineapple and Tea as the keys.
my_dictionary = {"Puppy" : 'Furry Energetic Animal',
          "Pineapple" : 'Tropical Fruit',
          "Tea" : 'Herbal Drink'}

#2. Print each element of the dictionary separately.
print(my_dictionary['Pineapple'])
print(my_dictionary['Puppy'])
print(my_dictionary['Tea'])

Tropical Fruit
Furry Energetic Animal
Herbal Drink

<a id='import'></a>

## Importing Packages and Documentation

Not everything we will use is readily available in Python. Sometimes, we'll need to import packages, which are assemblies of functions or additional data types.

In [22]:
import math as mth
import numpy as np
import pandas as pd

x = mth.cos(2 * mth.pi)
print(x)

1.0

Import the whole module into the current namespace instead.

In [23]:
from math import cos
from math import pi
x = cos(2 * pi)
print(x)

1.0

There are several ways to look at a module's documentation. Within the Jupyter Notebook, we can use the `help()` function, or you can place your cursor inside of a function and press `shift + tab`.

In [24]:
help(math.cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).


<a name="conclusion"></a>
## Lesson Summary


Let's review what we learned today. We:

- Discussed why Python is popular for data science.
- Demonstrated variable assignment.
- Defined integers, strings, tuples, lists, and dictionaries.
- Demonstrated arithmetic operations and string operations.


### Additional Resources

- [Learn Python on Codecademy](https://www.codecademy.com/learn/python)
- [Learn Python the Hard Way](https://learnpythonthehardway.org)
- [Python Data Types and Variables](http://www.python-course.eu/variables.php)
- [Python IF… ELIF… ELSE Statements](https://www.tutorialspoint.com/python/python_if_else.htm)
- [Python Loops](https://www.tutorialspoint.com/python/python_loops.htm)
- [Python Control Flow](https://python.swaroopch.com/control_flow.html)