<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [1]:
# Enter student names here:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

---

### 1) What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

#### A:

    a: integer (or int)
    b: float
    c: list
    d: dictionary (or dict)
    e: tuple
    f: dictionary
    g: boolean (or bool)
    h: boolean
    i: string

---

### 2) What is the difference between a "mutable" and an "immutable" object?

_A: Mutable objects can be altered, whereas immutable objects cannot be changed once they are created._

---

### 3) Print the `student_names` list.

In [3]:
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---

### 4) Print the names of the first and last students on the list.

In [4]:
print(student_names[0])
print(student_names[-1])

s1
s10

---

### 5) Print the first five names in the `student_names` list.

In [5]:
print(student_names[0:5])

['s1', 's2', 's3', 's4', 's5']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [6]:
var = student_names[8] + ' ' + student_names[9]
print(var)

s9 s10

---

### 7) Append an animal to the list of animals.

In [7]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [8]:
animals.append('gopher')
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher']

---

### 8) Print the length of the `animals` list.

In [9]:
print(len(animals))

7

---

### 9) Divide the length of the fifth animal by the second.

In [10]:
print(len(animals[4])/len(animals[1]))

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [11]:
print(float(len(animals[4]))/len(animals[1]))

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [12]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [13]:
print(animals + numbers)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

In [14]:
animals.extend(numbers)
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [15]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [16]:
names.remove('kiefer')
print(names)

['doug', 'billy', 'kian', 'sam']

In [17]:
names.insert(2, 'your name')
print(names)

['doug', 'billy', 'your name', 'kian', 'sam']

---

### 13) Sort the following list.

In [18]:
mix = [12.999, 12, 1, 2, 3]

In [19]:
mix.sort()

In [20]:
print(mix)

[1, 2, 3, 12, 12.999]

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [21]:
mix[4] > mix[2]

True

---

### 15) Find the index of `12` in the list.

In [22]:
mix.index(12)

3

---

### 16) Reverse the `mix` list.

In [23]:
mix.reverse()

In [24]:
print(mix)

[12.999, 12, 3, 2, 1]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [25]:
last_element = mix.pop()

In [26]:
print(last_element)
print(mix)

1
[12.999, 12, 3, 2]

---

### 18) Count the number of times `0` appears in the following list.

In [27]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [28]:
binary.count(0)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [29]:
sf = {'sunset':94122, 'presidio':94129,
      'soma':94105, 'marina':94123}
print(sf)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [30]:
soma = 'soma'
soma_zip = sf[soma]
print(soma_zip)

94105

---

### 21) Get the keys out of the dictionary.

In [31]:
keys = list(sf.keys())

In [32]:
print(keys)

['sunset', 'presidio', 'soma', 'marina']

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [33]:
kv_pairs = list(sf.items())

In [34]:
print(kv_pairs)

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [35]:
sf['castro'] = 94114
print(sf)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114}

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [36]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [37]:
sf.update(small)
print(sf)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [38]:
sunset = sf.pop('sunset')
print(sf)
print(sunset)

{'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}
94122

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [39]:
'dogpatch' in sf

True